# Database Configuration
DB_HOST=localhost
DB_NAME=certificate_system
DB_USER=root
DB_PASS=

# Security
SUPER_ADMIN_PASSCODE=1234

# SMTP Configuration (For Automated Emails)
SMTP_HOST=smtp.hostinger.com
SMTP_AUTH=true
SMTP_USER=noreply@dcwwiki.org
SMTP_PASS=
SMTP_SECURE=tls
SMTP_PORT=587
